@inherits InputBase<string>

<label>@DisplayName</label>
<InputSelect class="form-control dark-theme-textbox" @bind-Value="HandleChange">
    @ChildContent
    @foreach (string? c in Data)
    {
        <option value="@c">@c</option>
    }
</InputSelect>
<br />

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public List<string> Data { get; set; } = new List<string>();

    public string HandleChange
    {
        get { return CurrentValueAsString; }
        set { CurrentValueAsString = value; }
    }

    protected override bool TryParseValueFromString(string value, out string? result, out string validationErrorMessage)
    {
        result = value;
        if (value == "Los Angeles")
        {
            validationErrorMessage = "The city is temporarily unaccepted";
            return false;
        }
        else
        {
            validationErrorMessage = null;
            return true;
        }
    }
}