@typeparam T
@inherits InputBase<T>

<label for="autoinputdouble">@DisplayName</label>
<input type="number" @bind="@CurrentValue" class="form-control dark-theme-textbox" id="autoinputdouble" />
<ValidationMessage For=@ValueExpression />
<br />

@code {
    protected override bool TryParseValueFromString(string? value, out T result, out string validationErrorMessage)
    {
        result = (T)Convert.ChangeType(value, typeof(T));
        validationErrorMessage = null;
        return true;
    }
}