@inherits InputBase<DateTime?>

<label>@DisplayName</label>
<input type="date" @bind="@CurrentValue" format="dd/mm/yyyy" class="form-control dark-theme-textbox" />
<ValidationMessage For=@ValueExpression />
<br />

@code {

    protected override bool TryParseValueFromString(string? value, out DateTime? result, out string validationErrorMessage)
    {
        result = DateTime.ParseExact(value, "dd/mm/yyyy", CultureInfo.InvariantCulture);
        validationErrorMessage = null;
        return true;
    }
}