@inherits InputBase<DateTime>

<label>@DisplayName</label>
<input type="datetime-local" @bind="@CurrentValue" format="@formatString" class="form-control dark-theme-textbox" />
<ValidationMessage For=@ValueExpression />
<br />

@code {
    private string formatString { get; } = "dd/mm/yyyy HH:mm";
    protected override bool TryParseValueFromString(string? value, out DateTime result, out string validationErrorMessage)
    {
        result = DateTime.ParseExact(value, formatString, CultureInfo.InvariantCulture);
        validationErrorMessage = null;
        return true;
    }
}