@inherits InputBase<int>

<label>@DisplayName</label>
<InputSelect class="form-control dark-theme-textbox" @bind-Value="HandleChange">
    <option value="0">None</option>
    @foreach (DataLookUp c in Data)
    {
        <option value="@c.Id">@c.Code</option>
    }
</InputSelect>
<br />

@code {

    [Parameter]
    public List<DataLookUp> Data { get; set; } = new List<DataLookUp>();

    public string HandleChange
    {
        get 
        {
            return CurrentValueAsString;

        }
        set { CurrentValueAsString = value; }
    }

    protected override bool TryParseValueFromString(string value, out int result, out string validationErrorMessage)
    {
        result = int.Parse(value);
        if (value == "Los Angeles")
        {
            validationErrorMessage = "The city is temporarily unaccepted";
            return false;
        }
        else
        {
            validationErrorMessage = null;
            return true;
        }    
    }

}