# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Ignore bin folder on Client
**/Client/obj/
**/Client/bin/

# Ignore bin folder on Server
**/Server/obj/
**/Server/bin/


# Ignore bin folder on Shared
**/Shared/obj/
**/Shared/bin/

# Ignore bin folder on Framework
**/TTT.Framework/obj/
**/TTT.Framework/bin/

# Ignore bin folder on Framework.Component
**/TTT.Framework.Component/obj/
**/TTT.Framework.Component/bin/

# Ignore bin folder on Framework.Shared
**/TTT.Framework.Shared/obj/
**/TTT.Framework.Shared/bin/

# Ignore .vscode and .vs
**/.vs/
**/Notes.txt
