@inject IStringLocalizer<Resource> localizer

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">@localizer["TitleNotFoundPage"]</h4>
    <p>@localizer["ContentNotFoundPage"]</p>
    <hr>
    <p class="mb-0">@localizer["ExplainNotFoundPage"]</p>
</div>

@code {

}
